@page
@model Proiect_CioranuSorinGeorge.Pages.BurgerModel
@{
}

<div class="text-center">
        <div class="mainText">
            <h1 class="display-4 text-capitalize">
                Noul Creator de Burgeri
            </h1>
            <h4>Creaza propriul Burger si savureaza-ti creatia </h4>
            <p class="Textmic"><i>Comanda minima de 50lei</i> </p>
        </div>
        <div class="container">
            <div class="row">
             <div class="col-12 mb-5 mt-5">
                 <div class="w-100 row makeYourOwnDiv">
                     <div class="col-4">
                         <img src="~/images/PozaBurger.jpg" class="w-100" />
                     </div>
                     <div class="col-8 align-items-center">
                         <div class="align-middle makeYourOwnText">
                             <h3 style="text-align:left;">Creaza-ti propriul Burger</h3>
                             <p style="text-align:left;">Foloseste creatorul de Burgeri</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Formare/Cburger">Burgerul este gata de configurat!</a>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
</div>