@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-capitalize">BURGERSHOP. RO</h1>
    <h2 class="mainSubtitlu">Cei mai buni Burgeri din oras!</h2>
    </div>
    <img class="mainImage" src="~/Images/BurgerShop.jpg" />
    <br/>
</div>
